header{
  background: rgb(209, 221, 218);
    min-height: 10vh;
    color: #fff;
    display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo{
  max-width: 250px;
  min-width: 150px;
  padding-left: 2%;
  padding-top: 1%;
}

.logo img{
  width: 100%;
}

.navigation a{
color: #000;
padding: 2em;
}

.navigation a:hover{
color: #C37F6C;
}

nav {

}

.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

.pagination li {
    margin: 50px;
}

.active{
  display: block;
  width: 20px;
      height: 20px;
      border-radius: 20px;
      background: #000;
    }

.cercle-vide{
  display: block;
  justify-content: space-between;
  width: 20px;
      height: 20px;
      border-radius: 20px;
      background: #C37F6C;
}

.liseret{
  border: 0;
   height: 1px;
   background: #333;
   margin-top: 2%;
padding-left: 2%;
margin-right: -3.5%;

}

body{
background: rgb(209, 221, 218);
background-repeat: no-repeat;
background-attachment: fixed;
padding-top: 15vh;
}

  article{
min-height: 60vh;
  }


.navigation{
display: flex;
justify-content: flex-end;
margin-right: 0%;
}

.savoir-plus a:hover{
color: #C37F6C;
}

.commencer-lecture a:hover{
color: #C37F6C;
}

.contenu-pages{
  margin-left: 5%;
  margin-right: 5%;
}
.contenu-pages img{
  float: left;
  max-width: 350px;
  padding-right: 3%;
  padding-top: 2%;
}

.contenu-pages p{
  padding-top: 2%;
  max-width: 1000px;
}


.page-nav{
max-width: calc(10% + 960px);
padding-top: 3%;
padding-bottom: 3%;
margin: auto;
display: flex;
justify-content: space-between;
}

.page-nav a{
  display: block;
  flex-basis: 120px;
}

.page-nav img{
  width: 100%;
}


ul{
    list-style-type: circle;
    padding-top: 2%;
}

.content-block{
  background-color: #FCFAF3;
  max-width: 960px;
  margin: auto;
  padding: 5%;
}

.citation1{
  background-color: #C37F6C;
  margin: auto;
  padding: 2%;
}

.citation2{
  background-color: #C37F6C;
  margin: auto;
  padding: 2%;
}

.citation-noire{
  background-color: #000;
  margin: auto;
  padding: 2%;
}

.citation-majuscule{
  background-color: #000;
  margin: auto;
  padding: 2%;
}

mark{
  background-color: #C37F6C;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

.col{
column-count: 2;
align-content: flex-start;
column-gap: 2em;
column-width: 350px;
}
